.childbox {
  border: 1px solid black;
  padding: 5px 10px 5px 10px;

  font-size: 125%;
  font-weight: bolder;
  float: right;
  clear: both;
  margin: -0.5px -0.5px 5px;
 

}
.chicken {
  color: black;
  background-color: rgb(242, 162, 198);
}
.beef {
  color: white;
  background-color: red;"
}
.sushi {
  color: black;
  background-color: sandybrown;"
}
.mainbox {
  width: 100%;
  float: left;
  border: 1px solid black;
  background-color: grey;
  
}